{% extends 'index.html' %}

{% block content %}

{% include 'mainapp/sidebar.html'%}

	

	<!-- Delete Account modal -->
	<div id="delete_account" class="modal fade" tabindex="-1">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h4 class="modal-title">Are you sure you want to delete the account?</h4>
      			</div>
      			<div class="modal-body">
        			<button type="button" class="btn btn-primary">Yes</button>
        			<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        		</div>
    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<!-- Add Account modal -->
	<div class="modal fade" id="add_account" tabindex="-1" role="dialog" aria-labelledby="add_account" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Add Account:</h4>
	      		</div>
	      		<div class="modal-body">
        			<form class="form form-horizontal" action="{% url 'account' %}" method="post">
	        			{% csrf_token %}	
	        			
		        		<input type="hidden" class="form-control" id="name" name="name" value="{{ user.id }}">
		        			
	        			<div class="form-group">
		    				<label for="name" class="col-xs-12 col-md-12">Account No:</label>
						    <div class="col-xs-12 col-md-8">
						      	<input type="text" class="form-control" id="acc_no" name="acc_no" placeholder="Account Number">
						      	<span class="span">{{ form.acc_no.errors }}</span>
						    </div>
		  				</div>	
						<div class="form-group">
		    				<label for="name" class="col-xs-12 col-md-12">Name:</label>
						    <div class="col-xs-12 col-md-8">
							    <input type="text" class="form-control" id="name" name="acc_name" placeholder="Account Name">
							    <span class="span">{{ form.acc_name.errors }}</span>
						    </div>
		  				</div>
						<div class="form-group">
							<label for="institute" class="col-xs-12 col-md-12">Institute:</label>
						    <div class="col-xs-12 col-md-8">
						    	<input type="text" class="form-control" id="institute" name="inst_name"placeholder="Bank Name">
						    	<span class="span">{{ form.inst_name.errors }}</span>
						    </div>
						</div>
		  				<div class="form-group">
		    				<label for="balance" class="col-xs-12 col-md-12">Balance:</label>
		    				<div class="col-xs-12 col-md-8">
		      					<input type="text" class="form-control" id="balance" name="balance" placeholder="Enter Amount">
		      					<span class="span">{{ form.balance.errors }}</span>
		    				</div>
		  				</div>
		  				<div class="form-group">
		    				<label for="acc_type" class="col-xs-12 col-md-12">Account Type:</label>
		    				<div class="col-xs-12 col-md-8">
	        					<select  class="form-control" name="acc_type" id="acc_type">
	        						<option>Checking Account</option>
	        						<option>Savings Account</option>
	        						<option>Salary Account</option>
	        						<option>Demat Account</option>
	        					</select>
	        					<span class="span">{{ form.acc_type.errors }}</span>	
	        				</div>
		    			</div>
		    			<div class="form-group">
		    				<label for="status" class="col-xs-12 col-md-12">Status:</label>
		    				<div class="col-xs-12 col-md-4">
	        					<select class="form-control" name="status_type" id="status">
	        						<option>Active</option>
	        						<option>Closed</option>
	        					</select>
	        					<span class="span">{{ form.status_type.errors }}</span>	
	        				</div>
		    			</div>
		  				<hr>
	        			<div class="form-group">
	        				<div class="col-xs-offset-3 col-xs-6 col-md-3 pull-right">
	        					<button type="submit" class="btn btn-primary btn-sm" >Add Account</button>
	     					</div>
	     				</div>
	  				</form>
	  			</div>	
    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% if objects %}
	
	<div class="container">
		<div class="panel panel-default top_spacing col-md-offset-1">
		  	<div class="panel-heading">
		  		<div class="panel-title">Total Accounts:</div>
		  	</div>
		  	<div class="panel-body">
		  	<div class="table-responsive">
				<table class="table table-bordered">
				    <tr>
				    	<td>Account No.</td>
				    	<td>Account Name</td>
				    	<td>Institution Name</td>
				    	<td>Balance</td>
				    	<td>Account Type</td>
				    	<td>Status</td>
				    	<td>Action</td>
				    </tr>
				    {% for object in objects %}
				    <tr>
				    	<td><a href="{% url 'detail_account' %}">{{object.acc_no}}</a></td>
				    	<td><a href="{% url 'detail_account' %}">{{object.acc_name}}</a></td>
				    	<td>{{object.inst_name}}</td>
				    	<td>{{object.balance}}</td>
				    	<td>{{object.acc_type}}</td>
				    	<td>{{object.status_type}}</td>
				    	<td>
				    		<a role="button" href="{% url 'edit_account' %}"class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i>
				    		</a>
				    		<!-- Button triggering Delete Account --> 
				    		<span data-toggle="modal" data-target="#delete_account">
				    		<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Delete">
				    			<i class="fa fa-trash"></i>
				    		</button> 
				    		</span>
				    	</td>
				    </tr>
				    {% endfor %}
				</table>
			</div>
		</div>
	</div>

	<!-- Button triggering "Add Account Modal" -->
	<div class="container">
		<div class="col-xs-9 col-xs-offset-3 col-md-6 col-md-offset-6">
			<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_account">
				Add Account
			</button>
		</div>
	</div>

{% else %}
	<div class="jumbotron jumbotron_top_spacing col-xs-12 col-md-12">
		<h3 class="col-xs-offset-1 col-xs-11 col-md-offset-5 col-md-7">No Account Has Been Added Yet!</h3>
	</div>

	<!-- Button triggering "Add Account Modal" -->
	<div class="col-xs-9 col-xs-offset-3 col-md-6 col-md-offset-6">
		<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_account">
			Add Account
		</button>
	</div>
{% endif %}
	
{% endblock content %}