{% extends 'index.html' %}

{% block content %}

{% include 'mainapp/sidebar.html'%}

	<div class="container">
		<div class="panel panel-default top_spacing col-md-offset-1">
			<div class="panel-heading">
				<div class="panel-title">Account Details:</div>
			</div>
			<div class="panel-body">
			  	<p>Account No:</p>
			  	<p>Account Name:</p>
			  	<p>Institution Name:</p>
			  	<p>Balance:</p>
			  	<p>Account Type:</p>
			  	<p>Status:</p>
			  	<p>Action:</p>
			</div>
			<div class="panel-footer">
  			<a href="{% url 'account'%}"><u>Back to Accounts Page?</u></a>
        </div>
		</div>
	</div>

{% endblock %}