{% extends 'index.html' %}
{% block content %}

	<div class="container top_spacing">
    	<div class="page-header col-xs-12 col-md-12">
        	<h3 class="text-primary">Account Activation <i class="fa fa-check"></i></h3>
      	</div>
      	<div class="col-xs-12 col-ms-12 paddingfix authbox miscellenous-box">
	        <p>Your Account is activated. You can now login on Buxfer!</p>
	        <br>
	        <br>
	        <left><a href="{% url 'login' %}" class="btn btn-primary btn-sm save-changes-btn">Login Now</a></left>
	    </div>
	</div>  

{% endblock %}
