{% extends "index.html" %}

{% block content %}

	
	<div class="container top_spacing">

	    <div class="col-xs-12 col-md-12 page-header">
	      <h4 class="text-primary">RESET YOUR PASSWORD:</h4>
	    </div>
	    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" id="alert">
                <a class="alert-a" data-dismiss="alert"><i class="icon-ok-sign"></i></a> {{ message }}
            </div>
        {% endfor %}
    {% endif %}

		<form action="" method="post" class="form-horizontal">
		{% csrf_token %}
      		<div class="form-group">
			   	<label for="new_password" class="col-xs-12 col-md-2 control-label">New Password:</label>
			   	<div class="col-xs-12 col-md-4">

			     	<input type="password" class="form-control" name="password" placeholder="New Password" id="new_password">
			     	<span class="span">{{ form.password.errors }}</span>
			   	</div>
			</div>
			<div class="form-group">
			    <label for="confirm_password" class="col-xs-12 col-md-2 control-label">Confirm New Password:</label>
			    <div class="col-xs-12 col-md-4">
			      	<input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Password">
			      	<span class="span">{{ form.confirm_password.errors }}</span>
			    </div>
			</div>
			<div class="form-group">
            	<div class="col-xs-12 col-md-offset-2 col-md-3">
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
	        </div>
	        <div class="col-xs-12 col-md-6">
                <a href="{% url 'login'%}"><u>Back to Login Page?</u></a>
            </div>
	    </form>
	    <hr>
	</div>
  
{% endblock %}