{% extends 'index.html' %}

{% block content %}

	{% include 'mainapp/sidebar.html'%}

	<div class="container">
		<div>
			{% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" id="alert">
                        <a class="alert-a" data-dismiss="alert"><i class="icon-ok-sign"></i></a> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
		<div class="panel panel-default col-md-offset-1 top_spacing">
			<div class="panel-heading">
				<div class="panel-title">Edit Transaction:</div>	
			</div>
			<div class="panel-body">
				<div class="row">
					<form class="form form-horizontal" action="{% url 'transaction_edit' transaction_id %}" method="post">
	        			{% csrf_token %}
	        			<div class="form-group">

	        				<label class="col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11">Date:</label>
		    				<div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
		      					<input type="text" class="form-control datepicker" value="{{transaction.date}}" name="date" id="date" placeholder="click to show datepicker"> 
		      					<span class="span">{{ form.date.errors }}</span>
		    				</div>
		    			</div>
		  				<div class="form-group">
		  					<label class="col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11">Transaction Type:</label>
		    				<div class="radio col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11">
		    					{% for transaction_type in trans_type%}
		    					<label>
									<input type="radio" id="expense" value="{{transaction_type.0}}" name="t_type">
									{{transaction_type.1}}
								</label>
								{% endfor %}
							</div>
		  				</div>
		  				<div class="form-group">
		    				<label for="tags" class="col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11">Tags:</label>
		    				<div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">

		      					<select class="form-control" id="tags" name="tag">
		      						{% for i in tag %}
		      						<option value="{{i.id}}">{{i}}</option>
		      						{% endfor %}
		      					</select>
		    				</div>
		  				</div>
		  				<div class="form-group">
		    				<label for="acc_type" class="col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11">Account Type:</label>
		    				<div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
	        					<select class="form-control" name="acc_type">
		    						{% for account in account_choice %}
		    							<option value="{{ account.0 }}">{{ account.1 }}</option>
		    						{% endfor %}
		    					</select>
	        				</div>
		    			</div>
		  				<div class="form-group">
		    				<label for="amt" class="col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11">Amount:</label>
		    				<div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
		      					<input type="text" class="form-control" id="amt"  value="{{transaction.amt}}" placeholder="Enter Amount">
		    				</div>
		    			</div>
						<div class="form-group">
							<label for="description" class="col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11">Description:</label>
						    <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-4">
						    	<textarea class="form-control" id="description"  value="{{transaction.desc}}" name="desc" row="20" columns="20"></textarea>
						    </div>
						</div>
	        			<div class="form-group">
	        				<div class=" col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11 pull-left">
	        					<button type="submit" class="btn btn-primary btn-sm" >Submit</button>
	     					</div>
	     				</div>
		  			</form>
			  	</div>
			</div>
			<div class="panel-footer">
	  			<a class="col-md-offset-1" href="{% url 'transaction_edit'%}"><u>Back to Transaction Page?</u></a>
            </div>
		</div>
	</div>


{% endblock %}
