{% extends 'index.html' %}

{% block content %}

	{% include 'mainapp/sidebar.html'%}

	<div class="container">
		<div>
			{% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" id="alert">
                        <a class="alert-a" data-dismiss="alert"><i class="icon-ok-sign"></i></a> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
		</div>
		<div class="col-md-offset-1 panel panel-default top_spacing" >
			<div class="panel-heading">
				<div class="panel-title">Edit Tag:</div>
			</div>
			<div class="panel-body">
				<div class="row">
	                <form class="form form-horizontal" action="{% url 'tag_edit' tag_id %}" method="post">
	        			{% csrf_token %}
		  				<div class="form-group">
		    				<label for="tag_name" class="col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11">Tag Name:</label>
						    <div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-6">
						      <input type="text" value="{{ tag_name }}" name="tag" class="form-control" id="tag_name" placeholder="Tag Name">
						      <span class="span">{{ form.edit_tag.errors }}</span>
						    </div>
		  				</div>
		  				
		  				<div class="form-group">
				            <input type="hidden" class="form-control" name="user" placeholder="add_tags" value="{{user.id}}"/>
				        </div>

		  				<div class="form-group">
	        				<div class="pull-left col-md-offset-1 col-md-11 col-xs-offset-1 col-xs-11">
	        					<button type="submit" class="btn btn-primary btn-sm" >Submit</button>
	     					</div>
	     				</div>
	  				</form>
		  		</div>
		  	</div>
		  	<div class="panel-footer">
	  			<a class="col-md-offset-1 col-xs-offset-1" href="{% url 'add_tags'%}"><u>Back to Tags Page?</u></a>
            </div>
		</div>
	</div>	


{% endblock content %}