{% extends 'index.html' %}

{% block content %}

	{% include 'mainapp/sidebar.html'%}

	<div class="container">
		<div>
			{% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" id="alert">
                        <a class="alert-a" data-dismiss="alert"><i class="icon-ok-sign"></i></a> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
	    </div>
		<div class="panel panel-default top_spacing col-md-offset-1">
			<div class="panel-heading">
				<div class="panel-title">Edit Account:</div>
			</div>
			<div class="panel-body">
				<div class="row">	
					<form class="form form-horizontal" action="" method="post">
						{% csrf_token %}
							<div class="form-group">
			    				<label for="name" class="col-xs-12 col-md-offset-1 col-md-11">Account No. :</label>
							    <div class="col-xs-12 col-md-offset-1 col-md-6">
							      <input type="text" class="form-control" id="name" name="acc_no" placeholder="Account No.">
							      <span class="span">{{ form.acc_no.errors }}</span>
							    </div>
			  				</div>
			  				<div class="form-group">
			    				<label for="name" class="col-xs-12 col-md-offset-1 col-md-11">Name:</label>
							    <div class="col-xs-12 col-md-offset-1 col-md-6">
							      <input type="text" class="form-control" id="name" name="acc_name" placeholder="Account Name">
							    <span class="span">{{ form.acc_name.errors }}</span>
							    </div>
			  				</div>
							<div class="form-group">
								<label for="institute" class="col-xs-12 col-md-offset-1 col-md-11">Institute:</label>
							    <div class="col-xs-12 col-md-offset-1 col-md-6">
							    	<input type="text" class="form-control" name="inst_name" id="institute" placeholder="Bank Name">
							    	<span class="span">{{ form.inst_name.errors }}</span>
							    </div>
							</div>
			  				<div class="form-group">
			    				<label for="balance" class="col-xs-12 col-md-offset-1 col-md-11">Balance:</label>
			    				<div class="col-xs-12 col-md-offset-1 col-md-6">
			      					<input type="text" class="form-control" name="balance" id="balance" placeholder="Enter Amount">
			      					<span class="span">{{ form.balance.errors }}</span>
			    				</div>
			  				</div>
			  				<div class="form-group">
			    				<label for="acc_type" class="col-xs-12 col-md-offset-1 col-md-11">Account Type:</label>
			    				<div class="col-xs-12 col-md-offset-1 col-md-4">
		        					<select  class="form-control" name="acc_type" id="acc_type">
		        						<option>Checking Account</option>
		        						<option>Savings Account</option>
		        						<option>Salary Account</option>
		        						<option>Demat Account</option>
	        						</select>	
		        				</div>
			    			</div>
			    			<div class="form-group">
			    				<label for="status" class="col-xs-12 col-md-offset-1 col-md-11">Status:</label>
			    				<div class="col-xs-6 col-md-offset-1 col-md-2">
		        					<select class="form-control" name="status_type" id="status">
		        						<option>Active</option>
		        						<option>Closed</option>
	        						</select>	
		        				</div>
			    			</div>
		        			<div class="form-group">
		        				<div class=" col-xs-11 col-xs-offset-1 col-md-offset-1 col-md-11 pull-left">
		        					<button type="submit" class="btn btn-primary btn-sm" >Submit</button>
		     					</div>
		     				</div>
			  		</form>
			  	</div><!-- row ends -->
			</div><!-- panel body ends -->
			<div class="panel-footer">
	  			<a class="col-md-offset-1" href="{% url 'account'%}"><u>Back to Accounts Page?</u></a>
	        </div>
		</div>
	</div>


{% endblock %}

	
