{% extends "index.html" %}

{% block content %}


	<div class="top_spacing container">
		<div class="row">
			<div class="col-xs-12 col-md-12 page-header">
				<h4 class="text-primary">FORGOT PASSWORD???</h4>
			</div>
		</div>
		<div class="row">
			<div class="container">
				{% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" id="alert">
                            <a class="alert-a" data-dismiss="alert"><i class="icon-ok-sign"></i></a> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
				<form class="form-horizontal" method="post" action="/forgotpassword/">
				{% csrf_token %}
	                <div class="form-group">
	                    <label class="col-xs-12 col-md-1 control-label">Email:</label>
	                    <div class="col-xs-12 col-md-4">
	                        <input type="email" class="form-control" name="email" placeholder="Email">
	                        <span class="span">{{ form.email.errors }}</span>
	                    </div>

	            	  	<div class="col-xs-12 col-md-3">
	                        <button type="submit" class="btn btn-primary hidden-xs">Submit</button>
	                    </div>
	                </div>
	                <div class="form-group">
	                	<div class="col-xs-12 col-md-3 visible-xs">
	                        <button type="submit" class="btn btn-primary">Submit</button>
	                    </div>
	                </div>
				</form>
				<hr>
				<div class="col-xs-12 col-md-4">
                <a href="{% url 'login'%}"><u>Back to Login Page?</u></a>
                </div>
			</div>
		</div>
	</div>
{% endblock %}