{% extends "index.html" %}

{% block content %}

	
		<div class="container top_spacing">
	        <div class="col-xs-12 col-md-12">
				<h1 class="text-center">404</h1>
			</div>
			<div class="text-center col-xs-12 col-md-12">
				<h2>Page Not Found</h2>
				<h2>Your Link Has Expired. Please Try Again.</h2>
				<a href="/" class="btn btn-primary ">Back to Login Page?</a>
			</div>
		</div>

{% endblock content %}
