{% extends "index.html" %}

{% block content %}
  <div class="container top_spacing">
    <div class="col-xs-12 col-md-12 page-header">
      <h4 class="text-primary">LOGIN HERE:</h4>
    </div>			
		<form action="{% url 'login' %}" method="post" class="form-horizontal">
		{% csrf_token %}
      <div class="form-group">
			   	<label for="login_email" class="col-xs-12 col-md-1 control-label">Email:</label>
			   	<div class="col-xs-12 col-md-4">
			     	<input type="email" class="form-control" name="email" placeholder="Email" id="login_email">
			     	<span>{{ form.email.errors }}</span> 
			   	</div>
			</div>
			<div class="form-group">
			    <label for="login_password" class="col-xs-12 col-md-1 control-label">Password:</label>
			    <div class="col-xs-12 col-md-4">
			      	<input type="password" class="form-control" name="password" id="login_password" placeholder="Password">
			      	<span>{{ form.password.errors }}</span> 
			    </div>
			</div>
      <div class="row">
        <div class="container">
    			<div class="form-group">
  			    <div class="col-xs-6 col-md-3 col-md-offset-1">
  			        <div class="checkbox">
  				        <label>
  				          	<input type="checkbox"> Stay Signed In
  				        </label>
  			      	</div>
  			    </div>
            <div class="col-xs-6 col-md-4">
    				  <button type="submit" value="Log In" class="btn btn-sm btn-primary">Sign in</button>
            </div>
          </div>
        </div>
      </div>
		</form>
    <hr>
    <div class="row">
      <div class="container">
    		<div class="col-xs-6 col-md-4">
    			<a class="pull-left" href="{% url 'forgot_password'%}"><u>Forgot Password</u></a>
        </div>
        <div class="col-xs-6 col-md-4">
    			<a href="{% url 'signup' %}"><u>Create Account</u></a>
    		</div>
        
      </div>
    </div>
  </div>
{% endblock content %}

