{% extends "index.html" %}

{% block content%}
	
{% if user.is_authenticated %}

	{% include 'mainapp/sidebar.html'%}
		<div class="container">
			<div id="home">
				<h3 class="col-xs-9 col-xs-offset-3 col-md-6 col-md-offset-6 text-primary">WELCOME!</h3>
				<p class="col-xs-12 col-md-8 col-md-offset-4">To get started, connect a bank account or manually upload your transactions.</p>
				<a href="{% url 'account' %}" role="button" class="btn btn-primary col-xs-5 col-md-2 col-md-offset-4">Add Account</a>
				<a href="{% url 'addtransaction' %}" role="button" class="btn btn-primary col-xs-5 col-xs-offset-1 col-md-2 col-md-offset-1">Add Transaction</a>
			</div>
		</div>

{% else %}
	<div class="container top_spacing">
		<div class="text-center top_spacing">
			<h2 class="text-primary">GET STARTED WITH BUXFER!</h2>
			<p>Create an account now and explore Buxfer features.</p>
		</div>
	</div>

{% endif %}
	
{% endblock %}