{% extends 'index.html' %}

{% block content %}
<div class="container top_spacing">
	
	{% if messages %}
		{% for message in messages %}
		<div class="col-xs-12 col-md-12 page-header">
			<h4 class="text-primary">Password reset successfully:</h4>
    	</div>
		<div class="alert alert-success" id="alert">
			<a class="alert-a" data-dismiss="alert"><i class="icon-ok-sign"></i></a> {{ message }}
		</div>
		{% endfor %}
		{% endif %}
	
		<div class="col-lg-12">
			<div class="page-header">
				<h3>Reset Password</i></h3>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-5">
				<form id="change_password" method="post" action="{% url 'resetpassword' %}" role="form" >
					{% csrf_token %}
					<div class="form-group">
						<label for="old_password">Old Password</label>
						<input type="password" class="form-control" name="old_password" placeholder="Old Password" />
						<span class="old_password">{{ form.old_password.errors }}</span>
					</div>
					<div class="form-group">
						<label for="new_password">New Password</label>
						<input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" />
						<span class="new_password">{{ form.new_password.errors }}</span>
					</div>
					<div class="form-group">
						<label for="reset_password">Confirm Password</label>
						<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"/>
						<span class="confirm_password">{{ form.confirm_password.errors }}</span>
					</div>
					<span class="user-error error"></span>
					<div class="remember"></div>
					<input type="submit" class="btn btn-sm btn-primary" value="Reset Password"/>
				</form>
			</div>
		</div>
	
</div>
{% endblock %}