

<div class="hidden-xs ui left vertical visible inverted labeled icon sidebar menu side_nav">
  <a class="item">
    <i class="fa fa-home"></i>
    Home 
    <i class="fa fa-angle-right"></i>
  </a> 
  <a class="item">
    <i class="fa fa-dashboard"></i>
    Dashboard
        <i class="fa fa-angle-right"></i>
  </a>
  <a class="item" href="{% url 'account' %}">
    <i class="fa fa-university"></i>
    Accounts
        <i class="fa fa-angle-right"></i>
  </a>
  <a class="item">
    <i class="fa fa-calendar"></i>
    Reminders
        <i class="fa fa-angle-right"></i>
  </a>
  <a class="item" href="{% url 'add_tags' %}">

    <i class="fa fa-tags"></i>
    Tags
        <i class="fa fa-angle-right"></i>
  </a>
  <a class="item" href="{% url 'addtransaction' %}">
    <i class="fa fa-inr"></i>
    Transaction
        <i class="fa fa-angle-right"></i>
  </a>
  <a class="item">
    <i class="fa fa-bullseye"></i>
    Budgets
        <i class="fa fa-angle-right"></i>
  </a>
  <a class="item">
    <i class="fa fa-area-chart"></i>
    Forecast
        <i class="fa fa-angle-right"></i>
  </a>
  
  <a class="item">
    <i class="fa fa-calendar"></i>
    Reminders
        <i class="fa fa-angle-right"></i>
  </a>
  
  <a class="item">
    <i class="fa fa-cogs"></i>
    Settings
        <i class="fa fa-angle-right"></i>
  </a>
</div>