{% extends "index.html" %}

{% block content %}

    <div class="container top_spacing">
        <div class="col-xs-12 col-md-12 page-header">
            <h4 class="text-primary">SIGN UP HERE:</h4>
        </div>
         
        <form  class="form-horizontal" method="POST" action = "/signup/" >
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label class="col-xs-12 col-md-2 control-label">First name:</label>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="first_name" placeholder="First_name"/>
                    <span class="span">{{ form.first_name.errors }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-2 control-label">Last name:</label>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="last_name" placeholder="last_name" />
                    <span class="span">{{ form.last_name.errors }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-2 control-label">Email:</label>
                <div class="col-xs-12 col-md-4">
                    <input class="form-control" name="email" placeholder="Email" type="email"  />
                    <span class="span">{{ form.email.errors }}</span>
                </div>
            </div>
            <div class="form-group">
               <label class="col-xs-12 col-md-2 control-label">Username:</label>
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="form-control" placeholder="Username" name="username"/>
                    <span class="span">{{ form.username.errors }}</span>
                </div>
            </div>
            <div class="form-group">
               <label class="col-xs-12 col-md-2 control-label">Password:</label>
                <div class="col-xs-12 col-md-4">
                    <input type="password" id="id_password1" class="form-control" placeholder="Password" name="password" />
                    <span class="span">{{ form.password.errors }}</span>
                </div>
            </div>

            <div class="form-group">
               <label class="col-xs-12 col-md-2 control-label">Confirm Password:</label>
                <div class="col-xs-12 col-md-4">
                    <input type="password" id="id_password2" name="password_confirm"  placeholder="Re-Type Password" type="password" class="form-control"/>
                    <span class="span">{{ form.password_confirm.errors }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-2 control-label">Date Of Birth:</label>
                <div class="col-xs-12 col-md-4">
                    <input  type="text" placeholder="click to show datepicker" class="form-control ex1" name="dob">
                    <span class="span">{{ form.dob.errors }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-md-2 control-label">Gender:</label>
                <div class="col-xs-12 col-md-4">
                    <select name="gender" class="form-control ">
                        <option value="gender">Gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                    <span class="span">{{ form.gender.errors }}</span>
                </div>
            </div>
            <div class="form-group">
               <label class="col-xs-12 col-md-2 control-label">Contact:</label>
                <div class="col-xs-12 col-md-4">
                    <input type="contact" class="form-control" placeholder="Contact" name="contact"/>
                    <span class="span">{{ form.contact.errors }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6 col-xs-offset-1 col-md-4 col-md-offset-1">
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
            </div>
            <hr>
            <div class="col-xs-12 col-md-6">
                <a href="{% url 'login'%}"><u>Already registered? Back to Login Page?</u></a>
            </div>
        </form>
    </div>
    <!-- /.container -->

{% endblock content %}