{% extends 'index.html' %}

{% block content %}

	{% include 'mainapp/sidebar.html'%}
	
	<!-- Delete Tag modal -->
	<div id="delete_tag" class="modal fade" tabindex="-1">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h4 class="modal-title">Are you sure you want to delete the tag?</h4>
      			</div>
      			<div class="modal-body">
      				<form>
      					{% csrf_token %}
      					<input type="hidden" id="deletetagid" />
        				<a type="button" href="" id="delete_id" class="btn btn-primary">Yes</a>
        				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      				</form>
        		</div>
    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Add Tag Modal -->
	<div class="modal fade" id="add_tag" tabindex="-1" role="dialog" aria-labelledby="addtag" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Add Tag:</h4>
      			</div>
      			<div class="modal-body">
      				<form class="form form-horizontal" action="{% url 'add_tags' %}" method="post">
	        			{% csrf_token %}
		  				<div class="form-group">
		    				<label for="tag_name" class="col-xs-12 col-md-12">Tag Name:</label>
						    <div class="col-xs-12 col-md-8">
						      <input type="text" name="tag" class="form-control" id="tag_name" placeholder="Tag Name">
						      <span class="span">{{ form.tags.errors }}</span>
						    </div>
		  				</div>
		  				<div class="form-group">
				            <input type="hidden" class="form-control" name="user" placeholder="add_tags" value="{{user.id}}"/>
				        </div>
		  				<hr>
		  				<div class="form-group">
	        				<div class="col-xs-offset-3 col-xs-6 col-md-3 pull-right">
	        					<button type="submit" class="btn btn-primary btn-sm" >Add Tag</button>
	     					</div>
     					</div>
		  			</form>	
				</div>
       		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	
	<div class="container">

{% if objects %}

		<div class="panel panel-default top_spacing col-md-offset-1">
		  	<div class="panel-heading">
		  		<div class="panel-title">Total Tags:</div>
		  	</div>
		  	<div class="table-responsive">
				<table class="table table-bordered">
				    <tr>
				    	<td>Tag Name</td>
				    	<td>Action</td>
				    </tr>
				    {% for i in objects %}
				    <tr>
				    	<td>{{i.tag}}</td>
				    	
				    	<td>
				    		<a role="button" href="{% url 'tag_edit' i.id %}"class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></a>

				    		<!-- Button triggering "Delete Tag Modal" -->
				    		<span data-toggle="modal" data-target="#delete_tag">
				    			<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Delete" data-id="{{i.id}}"><i class="fa fa-trash"></i></button> 
				    		</span>
				    	</td>
				    </tr>
				    {% endfor %}
				</table>

			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-4 col-md-6 col-md-offset-6">
		<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_tag">
			Add Tag
		</button>
	</div>
	</div>

{% else %}
	
	<div class="jumbotron jumbotron_top_spacing col-xs-12 col-md-12">
		<h3 class="col-md-offset-6 col-md-6 col-xs-offset-3 col-xs-9">No Tags Yet!</h3>
	</div>

	<div class="col-xs-8 col-xs-offset-4 col-md-6 col-md-offset-6">
		<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_tag">
			Add Tag 
		</button>
	</div>

{% endif %}

{% endblock %}