{% extends 'index.html' %}

{% block content %}

	{% include 'mainapp/sidebar.html'%}

	{% if transactions %}
		<div class="container">
			<div class="panel panel-default top_spacing col-md-offset-1">
			  	<div class="panel-heading">
			  		<div class="panel-title">Total Transactions:</div>
			  	</div>
			  	<div class="panel-body">
				  	<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
							    <tr>
							    	<th>Date</th>
							    	<th>Transaction Type</th>
							    	<th>Tags</th>
							    	<th>Account Type</th>
							    	<th>Amount</th>
							    	<th>Current Balance</th>
							    	<th>Description</th>
							    	<th>Action</th>
							    </tr>
							</thead>

							<tbody>
								{% for object in transactions%}
							    <tr>
							    	<td>{{object.date}}</td>
							    	<td>{{object.t_type}}</td>
							    	<td>{{object.add_tag}}</td>
							    	<td>{{object.account.acc_type}}</td>
							    	<td>{{object.amt}}</td>
							    	<td>{{object.account.balance}}</td>
							    	<td>{{object.desc}}</td>							    	
							    	<td>
							    		<a role="button" href="{% url 'transaction_edit' object.id %}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></a>

							    		<!-- Button triggering "Delete Transaction Modal" -->
							    		<span data-toggle="modal" data-target="#delete_transaction">
							    			<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></button> 
							    		</span>
							    	</td>
							    </tr>
							</tbody>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-7 col-xs-offset-3 col-md-6 col-md-offset-6">
			<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_transaction_in_modal">
				Add Transaction
			</button>
		</div>3
	{% else %}
		<div class="jumbotron jumbotron_top_spacing col-xs-12 col-md-12	">
			<h3 class="col-md-offset-5">No Transaction Has Been Added Yet!</h3>
		</div>

		<div class="col-xs-7 col-xs-offset-3 col-md-6 col-md-offset-6">
			<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_transaction_in_modal">
				Add Transaction
			</button>
		</div>
	{% endif %}

	<!-- Delete Transaction modal -->
	<div id="delete_transaction" class="modal fade" tabindex="-1">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h4 class="modal-title">Are you sure you want to delete the transaction?</h4>
      			</div>
      			<div class="modal-body">
        			<button type="button" class="btn btn-primary">Yes</button>
        			<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        		</div>
    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Add Transaction modal -->
	<div class="modal fade" id="add_transaction_in_modal" tabindex="-1" role="dialog" aria-labelledby="add_account" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Add Transactions:</h4>
	      		</div>
	      		<div class="modal-body">
	        		<form class="form form-horizontal" action="{% url 'addtransaction' %}" method="post">
	        			{% csrf_token %}
	        			<div class="form-group">
		    				<label class="col-xs-12 col-md-12">Date:</label>
		    				<div class="col-xs-12 col-md-8">
		      					<input type="text" class="form-control datepicker" name="date" id="date" placeholder="click to show datepicker"> 
		      					<span class="span">{{ form.date.errors }}</span>
		    				</div>
		    			</div>
		  				<div class="form-group">
		  					<label class="col-xs-12 col-md-12">Transaction Type:</label>
		    				<div class="radio col-xs-12 col-md-12">
		    					{% for transaction_type in trans_type%}
		    					<label>
									<input type="radio" id="expense" value="{{transaction_type.0}}" name="t_type">
									{{transaction_type.1}}
								</label>
								{% endfor %}
							</div>
							
		  				</div>
		  				<div class="form-group">
		    				<label for="tags" class="col-xs-12 col-md-12">Tags:</label>
		    				<div class="col-xs-12 col-md-6">
		    					
		    				
		      					<select class="form-control" id="add_tag" name="add_tag">
		      						{% for i in tag %}
		      							<option value="{{i.id}}">{{i}}</option>
		      						{% endfor %}
		      					</select>
		      					<span class="span">{{ form.add_tag.errors }}</span>
		    				</div>
		  				</div>
		  				<div class="form-group">
		    				<label for="transaction_acc_type" class="col-xs-12 col-md-12">Account Type:</label>
		    				<div class="col-xs-12 col-md-8">
		    					<select class="form-control" name="acc_type">
			    					{% for account_type in account %}
			      						<option value="{{account_type.id}}">{{ account_type.acc_type }}</option>
			      					{% endfor %}
			      				</select>
	        				</div>
		    			</div>
		  				<div class="form-group">
		    				<label for="amt" class="col-xs-12 col-md-12">Amount:</label>
		    				<div class="col-xs-12 col-md-8">
		      					<input type="text" class="form-control" name="amt" id="amt" placeholder="Enter Amount">
		      					<span class="span">{{ form.amt.errors }}</span>
		    				</div>
		    			</div>

		    			<div class="form-group">
		    				
		      					<input type="hidden" class="form-control" value="{{transactions.account.balace}}" name="currentbalance"  placeholder="Enter Amount">
		      					
		    			</div>


		    			<div class="form-group">
		    				<label for="account" class="col-xs-12 col-md-12">Account:</label>
		    				<div class="col-xs-12 col-md-8">
		    					<select class="form-control" name="account">
			    					{% for acc_number in account %}
			      						<option value="{{acc_number.id}}">{{ acc_number.acc_no }}</option>
			      					{% endfor %}
			      				</select>
		      					<span class="span">{{ form.account.errors }}</span>
		    				</div>
		    			</div>

						<div class="form-group">
							<label for="description" class="col-xs-12 col-md-12">Description:</label>
						    <div class="col-xs-12 col-md-8">
						    	<textarea class="form-control" id="description" name="desc" row="20" columns="10">
						    	</textarea>
						    	<span class="span">{{ form.desc.errors }}</span>
						    </div>
						</div>
		  				<hr>
	        			<div class="form-group">
	        				<div class="col-xs-offset-3 col-xs-6 col-md-3 pull-right">
	        					<button type="submit" class="btn btn-primary btn-sm" >Add Transaction</button>
	     					</div>
	     				</div>

	     				
		  			</form>	
		  		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock %}