#forgotpassword{
	margin-top: 100px;
}

span{

	color: red;
}

.top_spacing{
	margin-top: 80px;
}

.jumbotron_top_spacing{
	margin-top: 54px;
}

.content-text{
	padding: 120px 25px;
}

#home{
	margin-top: 90px;
	
}

.datepicker{
	z-index:1151 !important;
}

a{
	text-decoration: none;
	background-color: transparent;
	
}

a:hover{
	text-decoration: underline;
	background-color: transparent;
		
}

textarea{
	resize: none;
}

.xs_menu{
	margin-top: 51px;
}

.xs_menu td a{
	color: #6A6A6A;
}

.menu{
	padding-left: 14px;
}

@media screen and (max-width: 320px){
	.top_spacing{
		margin-top: 10px;
	}

	#home{
		margin-top: 50px;
	}

	.jumbotron_top_spacing{
	margin-top: -15px;
	}

}
