{% extends 'index.html' %}
{% block content %}
	<div class="container top_spacing">
		<div class="col-lg-12">
			<div class="page-header">
				<h3>page not found 404 <i class="fa fa-check"></i></h3>
			</div>
		</div>
		<div class="col-lg-12 paddingfix">
			<div class="col-lg-5">
				page not found<br><br>
				<left>
					<a href="{% url 'signup' %}" class="btn btn-default save-changes-btn">signup again</a>
				</left>
			</div>
		</div>
	</div>
	{% endblock %}
