<!DOCTYPE html> 
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Buxfer</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/semantic.css">
        
    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    
   
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      			</button>
      			<a href="/">
                    <img src="/static/img/Logo-sidebar.png" class="pull-left navbar-brand">
                </a>
    		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse navbar-right" id="navbar">
      			<ul class="nav navbar-nav">
                   <li>
                        <a href="/">HOME</a>
                    </li>
        			<li>
                        <a href="#">FEATURES</a>
                    </li>
        			<li>
                        <a href="#">ABOUT US</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                {{ user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">Account Settings</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{% url 'resetpassword'%}">Reset Password</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a href="{% url 'signout' %}">Signout</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
            			<li>
                            <a href="{% url 'login' %}">LOGIN</a>
                        </li>
          			    <li>
                            <a role="button" class="btn btn-warning" href="/signup/">CREATE AN ACCOUNT</a>
                        </li>
                    {% endif %}
           		</ul>
     		</div> <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
	</nav>
    {% if user.is_authenticated %}
    
    <div class="table-responsive">
        <table class="table table-bordered xs_menu visible-xs hidden-md ">
            <tr>
                <td class="col-xs-4">
                    <a class="item" href="{% url 'account' %}">
                        <i class="fa fa-university"></i> Accounts
                    </a>
                </td>
            
                <td class="col-xs-4">
                    <a class="item menu" href="{% url 'add_tags' %}">
                        <i class="fa fa-tags"></i> Tags
                    </a>
                </td>
                <td class="col-xs-4">
                    <a class="item " href="{% url 'addtransaction' %}">
                        <i class="fa fa-inr"></i> Transaction
                    </a>
                </td>
            </tr>
        </table>
    </div>
    {% else %}
    <div class="btn-group hidden-xs hidden-md" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
    {% endif %}



    
    {% block content %}
    {% endblock %}
    
   
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<!--jquery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- jQuery --> 
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript-->
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/semantic.js"></script>
    <script src="/static/js/sidebar.js"></script>
    <script src="/static/js/custom.js"></script>

</body>

</html>
